.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 3rem;
}
.btn {
    display: inline-flex    ;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    text-decoration: none;
    border: 1px solid gray;
    color: gray;
    margin: 0 10px;
}